@import "tailwindcss";
@plugin "daisyui";

.input {
  @apply w-full border rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-lime-400;
}

.label {
  @apply text-sm font-medium text-gray-700 mb-1 block;
}

.error {
  @apply text-xs text-red-500 mt-1;
}
